*TempPoint*
*.pssproj

# ignore the settings folder and files for VSCode
.vscode/*
*.psproj

# ignore library
PSModuleDevelopment/bin/PSModuleDevelopment.dll
PSModuleDevelopment/bin/PSModuleDevelopment.xml
PSModuleDevelopment/bin/PSModuleDevelopment.pdb

# ignore PowerShell Studio MetaData
*.psproj
*.psproj.bak
*.psprojs